.autocomplete-list {
	margin-top: -7px;
	border: 1px solid #ddd;
	background-color: #fffeee;
	text-decoration: underline;
	border-radius: 5px;
	padding: 7px 7px 7px 7px;
}

.autocomplete-item:hover {
	background-color: #fffccc;
	font-weight: bold;
}
